.contact_wrp {
  width: 100%;
  display: flex;
  justify-content: center;
  //   align-items: center;
  background-color: #fff;
  height: 340px;
  .form_details_wrp {
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    height: 300px;
    margin-top: -50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgb(235, 230, 230);
    .contact_form_wrp {
      width: 93%;
      display: flex;
      justify-content: space-between;

      .contact_heading {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 22px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          //   font-size: 32px;
          line-height: 33px;
          padding: 10px;
          /* or 144% */

          color: #000000;
          span {
            color: red;
          }
        }
      }
    }
    .form_input_fields {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 29px;
        padding: 10px;
        /* identical to box height, or 181% */
        background: #FC1B15;
        border-radius: 10px;
        color: #ffffff;
        border: none;
      }
    }
    .input_fields {
      display: flex;
      width: 95%;
      justify-content: space-between;
      margin: 20px 0px;
    }
    .Input_details {
      //   background-color: rgb(155, 148, 148);
      padding: 15px;
      background: #f3f3f3;
      font-size: 12px;
      border-radius: 10px;
      width: 110%;
      span {
        color: red;
      }
      input {
        background: #f3f3f3;
        // padding: 5px;
        border: none;
      }
      input:focus-visible {
        border: none !important;
      }
    }
  }
}

@media only screen and (max-width: 1024) {
}
