.header_wrp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .navbar_wrp {
    background: #ffffff !important;
    width: 100%;
    padding: 10px;
    .navbar_cantainer {
      width: 90%;
      .header_container {
        align-items: center;
        justify-content: space-around;
        .link_name {
            a {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 21px;
                color: #000000;
                padding-left:10px;
                padding-right:10px ;
              }
              a::after {
                  color: #000000;
                  font-weight: 800;
              }
        }
        
        .header_link_container {
          width: 100%;
        }
      }
      .search_icon_btn {
        display: flex;
        // height: 50px;
        align-items: center;
        img {
          display: flex;
          align-items: center;
          height: 15px;
          margin-right: 20px;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          outline: none;
          width: 121px;
          padding: 15px;
          text-align: center !important;
          background: #fc1b15;
          border-radius: 50px;
          border: none !important;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 21px;
          /* identical to box height, or 131% */

          color: #ffffff;
        }
      }
    }
  }
}
