.choice_wrp {
    height: 530px;
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    .choice_left {
      width: 52%;
      .img_wrp {
        width: 100%;
        height: 100%;
        img {
          width: inherit;
          height: inherit;
        }
      }
    }
  
    .choice_right {
      width: 48%;
      font-family: "Poppins", sans-serif;
      padding: 0 55px 0 90px;
      .choice_right_inner {
        h2 {
          font-size: 28px;
          width: 75%;
          font-weight: 600;
          color: #000;
        }
  
        h6 {
          font-size: 13px;
          font-weight: 500;
          color: #fc1b15;
          margin-bottom: 25px;
        }
  
        p {
          font-size: 12px;
          color: #2f2f2f;
          line-height: 22px;
          font-weight: 500;
        }
  
        .first_text {
          margin: 22px 0;
        }
  
        .last_text {
          margin-bottom: 32px;
        }
  
        button {
          display: flex;
          width: 130px;
          border-radius: 20px;
          color: white;
          font-size: 11px;
          font-weight: 600;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: #fc1b15;
          padding: 7px 0;
          img {
            width: auto;
            height: 20px;
            margin-left: 8px;
            margin-right: -11px;
            background-color: #b10500;
            padding: 4px 7px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .choice_wrp {
      height: unset;
    }
  }
  
  @media screen and (max-width: 768px) {
    .choice_wrp {
      flex-direction: column;
      .choice_left {
        width: 100%;
      }
  
      .choice_right {
        margin-top: 25px;
        width: 100%;
      }
    }
  }
  