.contact_no_wrp {
  background-image: url(../../../images/contact_background.png);
  height: 350px;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact_no_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 60px;
      // padding: 10px;
      margin-bottom: 20px;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 29px;
      /* identical to box height, or 138% */
      margin-top: 10px;
      text-align: center;

      color: #ffffff;
    }
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 52px;
      /* identical to box height, or 112% */
        letter-spacing: 1px;
      text-align: center;

      color: #ffffff;
    }
  }
}
